.outer {
  padding:20px;
}

.flex-outer {
  display:flex;
  border: 1px solid #000;
  min-height: 37px;
  font-size:14px;
  color: #000
}

.flex-inner_name {
  display:flex;
  flex-basis: 292px;
  flex-shrink: 0;
  align-item:center;
  background: #D9DEE0;
  padding: 8px;
}

.flex-inner_value {
  display:flex;
  flex: 1;
  align-item:center;
  padding:8px;
  white-space: pre-wrap;
}
